<br>
<br>

<h1>FREQUENT ASKED QUESTIONS (FAQ)</h1>
<br>

<div class="list-group">

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">How can I borrow books from the library? </h5>
        <small>faq</small>
      </div>
      <br>
      <p class="mb-1">To borrow books, you normally must be a library member. Once you have a library card,<br> 
        you may check out books at the circulation desk or using a self-checkout machine. </p>
    <br>
    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">How to return the books? </h5>
        <small class="text-muted">faq</small>
      </div>
      <br>
      <p class="mb-1">To return books, you can drop out the circulation desk or using a self-checkout machine.</p>
    <br>
    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">What is the usual loan period for borrowed books? </h5>
          <small>faq</small>
        </div>
        <br>
        <p class="mb-1">The loan period can vary, but it's commonly around two to four weeks. <br>
            Some libraries offer extended loan periods for certain materials or for members with special privileges.</p>
        <br>
        </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Can I renew the books I've borrowed</h5>
          <small class="text-muted">faq</small>
        </div>
        <br>
        <p class="mb-1">Yes, most libraries allow you to renew books unless another patron has <br>
            placed a hold on them. Renewals can often be done online, over the phone, or in person.</p>
        <br>
        </a>

  </div>