<!DOCTYPE html> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css'>

<br>
<br>

<header>
  <br>
  <br>
  <h1>WELCOME TO LIBRARY MANAGEMENT SYSTEM</h1>
  <br>

<section>
  <button class="button button1" [routerLink]="['/studentView']" routerLinkActive="router-link-active">
    <i class="fi fi-rs-user-graduate" style="font-size: 48px;"></i><br>STUDENT LIST PAGE</button>

  &nbsp;&nbsp;&nbsp;

  <button class="button button2" [routerLink]="['/bookView']" routerLinkActive="router-link-active">
    <i class="fi fi-rs-book-bookmark" style="font-size: 48px;"></i><br>BOOK LIST PAGE</button>
</section>
<br>

</header>