@import url(https://bootswatch.com/5/lux/bootstrap.css);

nav ul {
    padding: 20px 20px;
    list-style: none;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 45%;
    transform: translate(-33%, -33%);
    justify-content: center;
    font-size: medium;
}