<br>
<br>

<h1>ABOUT US</h1>
<br>

<div class="card1">
    <div class="card text-white bg-dark mb-3" style="max-width: 90rem;">
        <div class="card-header">HELPLINE</div>
        <div class="card-body">
        <p class="card-text">Hello! Welcome to Library Management System<br>
        If you need any assistance, please contact us through one of the following methods:<br>
        Email: supportlibrarymanagementsystem.com<br>
        Phone: +603-1234-5678 (Monday to Friday, 9am to 5pm)</p>
        </div>
    </div>
</div>

<div class="card2">
<div class="card bg-secondary mb-3" style="max-width: 90rem;">
    <div class="card-header">How Our LMS Works</div>
    <div class="card-body">
      <p class="card-text">In our system, librarians can perform various tasks, including adding new <br> 
        books to the catalogue, updating existing records and checking items <br>  
        in and out. By automating routine tasks and centralizing library operations,<br>  
        our LMS improves efficiency and enhances the overall user experience.</p>
    </div>
</div>
</div>