<div id="outPopUp" class="">
  <div class="">

      <!--to show error alert-->
      <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

        <!--to show success alert-->
        <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{successmsg}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <br><br>
        <div align="center">
    <br><br>
      <form  [formGroup]="bookForm" (ngSubmit)="bookSubmit()">

        <div  class="col-lg-4 mx-auto" >
          <input type="text" class="form-control" formControlName="bookTitle" placeholder="Book Title">
        </div>
        <br>
        <div class="col-lg-4 mx-auto">
          <input type="text" class="form-control" formControlName="bookAuthor" placeholder="Book Author">
        </div>
        <br>
        <div class="col-lg-4 mx-auto">
          <select class="form-control" formControlName="bookStatus" placeholder="Book Status">
            <option value="" disabled selected>Book Status</option>
            <option value="available">Available</option>
            <option value="not-available">Not Available</option>
          </select>
      </div>
      <br>
        <br>
        <div align="center" class="col-lg-15 mt-2" *ngIf="!getparamid">
          <button type="submit" class="btn btn-primary">Add Book</button>
        </div>

      </form>

    </div>
  </div>
</div>